
//
// Mocha generated tests
//

{{#modules}}
var {{ name }} = require('{{ path }}');
{{/modules}}

describe("{{ feature.name }}", function() {

  describe("{{{ feature.desc }}}", function() {
    {{#scenarios}}

    describe("{{{ name }}}", function() {
      {{#steps}}

      it("{{{ name }}}", function({{args}}) {
{{{ body }}}
      });
      {{/steps}}

    });
    {{/scenarios}}

  });

});

