
//
// Mocha generated tests
//

describe("{{ feature.name }}", function() {

  describe("{{{ feature.desc }}}", function() {
    {{#scenarios}}

    describe("{{{ name }}}", function() {
      {{#steps}}

      it("{{{ name }}}", function() {

      });
      {{/steps}}

    });
    {{/scenarios}}

  });

});

