
//
// Mocha generated tests
//

// todo: a way to configure module to load
var fs = require('fs'),
  path = require('path'),
  Parser = require('../'),
  assert = require('assert');

describe("{{ feature.name }}", function() {

  describe("{{{ feature.desc }}}", function() {
    {{#scenarios}}

    describe("{{{ name }}}", function() {
      {{#steps}}

      it("{{{ name }}}", function({{args}}) {
{{{ body }}}
      });
      {{/steps}}

    });
    {{/scenarios}}

  });

});

